# VPN-UP SETTINGS

readonly PRIMARY="\x1b[36;1m"
readonly SUCCESS="\x1b[32;1m"
readonly WARNING="\x1b[35;1m"
readonly DANGER="\x1b[31;1m"
readonly RESET="\x1b[0m"

readonly SUDO=FALSE
#        ├ TRUE
#        └ FALSE

readonly SUDO_PASSWORD=""

# OPENCONNECT OPTIONS

readonly BACKGROUND=TRUE
#        ├ TRUE          Runs in background after startup
#        └ FALSE         Runs in foreground after startup

readonly QUIET=TRUE
#        ├ TRUE          Less output
#        └ FALSE         Detailed output